.a
bin/
build/
.cache/*
.cproject
*.dSYM/
*.h5
html/
latex/
.mod
.o
output*.json
.plist
.project
__pycache__
.settings
spack-build*
spack-configure-args.txt
/.cache/
src/version.h
timers.json
.vscode
