libs/fft*
libs/gsl*
libs/hdf5*
libs/libxc*
libs/spglib*
Makefile
platform.json
platform.local.json
make.inc

bin/
__pycache__

timers.json

src/version.h

.cproject
.project
.settings
.vscode

html/
latex/
.o
.mod
.plist
.a

*.dSYM/

output*.json

*.h5

build/
spack-build/
spack-build-env.txt
spack-build-out.txt
spack-configure-args.txt