libs/fft*
libs/gsl*
libs/hdf5*
libs/libxc*
libs/spglib*
Makefile
platform.json
platform.local.json
make.inc

bin/
__pycache__

timers.json

src/version.h

.cproject
.project
.settings

html/
latex/
.o
.mod
.plist
.a

*.dSYM/

output*.json

*.h5
