name: Build

on:
  push:
    branches: ['master', 'develop', '!trying', '!staging']
  pull_request:
    branches: ['master', 'develop']

jobs:
  build_and_test_cpu:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cpu
    env:
      SPEC: sirius@develop +tests +apps +fortran %gcc@7.5.0 build_type=RelWithDebInfo ^openblas threads=openmp ^mpich
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cpu.yaml
      - name: Show the spec
        run: spack --color always -e ci_run spec -I $SPEC
      - name: Build SIRIUS
        run: spack --color always -e ci_run dev-build --source-path ${GITHUB_WORKSPACE} $SPEC
      - name: Run unit tests
        run: |
          cd ${GITHUB_WORKSPACE}/spack-build
          spack --color always -e ci_run build-env $SPEC -- ctest --output-on-failure --label-exclude integration_test
      - name: Run verification tests
        run: |
          cd ${GITHUB_WORKSPACE}/spack-build
          spack --color always -e ci_run build-env $SPEC -- ctest --output-on-failure -L cpu_serial

  build_rocm:
    runs-on: ubuntu-latest
    container: stabbles/sirius-rocm
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/rocm.yaml
          spack --color always -e ci_run develop --path ${GITHUB_WORKSPACE} sirius@develop
      - name: Show the spec
        run: spack --color always -e ci_run concretize
      - name: Build SIRIUS
        run: spack --color always -e ci_run install -v

  build_cuda_10:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cuda-10
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cuda-10.yaml
          spack --color always -e ci_run develop --path ${GITHUB_WORKSPACE} sirius@develop
      - name: Show the spec
        run: spack --color always -e ci_run concretize
      - name: Build SIRIUS
        run: spack --color always -e ci_run install -v

  build_cuda_11:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cuda-11
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cuda-11.yaml
          spack --color always -e ci_run develop --path ${GITHUB_WORKSPACE} sirius@develop
      - name: Show the spec
        run: spack --color always -e ci_run concretize
      - name: Build SIRIUS
        run: spack --color always -e ci_run install -v

  build_elpa_mpich:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cpu
    env:
      SPEC: sirius@develop %gcc@7.5.0 build_type=RelWithDebInfo +elpa ^openblas threads=openmp ^mpich
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cpu.yaml
      - name: Show the spec
        run: spack --color always -e ci_run spec -I $SPEC
      - name: Build SIRIUS
        run: spack --color always -e ci_run dev-build --source-path ${GITHUB_WORKSPACE} $SPEC

  build_elpa_openmpi:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cpu
    env:
      SPEC: sirius@develop %gcc@7.5.0 build_type=RelWithDebInfo +elpa ^openblas threads=openmp ^openmpi
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cpu.yaml
      - name: Show the spec
        run: spack --color always -e ci_run spec -I $SPEC
      - name: Build SIRIUS
        run: spack --color always -e ci_run dev-build --source-path ${GITHUB_WORKSPACE} $SPEC

  build_basic_clang:
    runs-on: ubuntu-latest
    container: stabbles/sirius-cpu
    env:
      SPEC: sirius@develop %clang@:6 +tests +apps build_type=RelWithDebInfo ^openblas ^mpich@:3.3 ~fortran
    steps:
      - uses: actions/checkout@v2
      - name: Setup Spack
        run: |
          spack --color always repo rm --scope site user
          spack --color always repo add ${GITHUB_WORKSPACE}/spack
          spack --color always env create --without-view ci_run ${GITHUB_WORKSPACE}/ci/spack/cpu.yaml
      - name: Show the spec
        run: spack --color always -e ci_run spec -I $SPEC
      - name: Build SIRIUS
        run: spack --color always -e ci_run dev-build --source-path ${GITHUB_WORKSPACE} $SPEC
